@font-face { 
  font-family: Helvet;
	src: url(fonts/HelveticaNeueCyr-Bold.otf);
  font-weight: 700;              
  font-style: normal;
 }
 @font-face { 
  font-family: Helvet;
	src: url(fonts/HelveticaNeueCyr-Light.otf); 
  font-weight: 300;              
  font-style: normal;
 }

 @font-face { 
  font-family: Helvet;
	src: url(fonts/HelveticaNeueCyr-UltraLight.otf); 
  font-weight: 100;              
  font-style: normal;
 }
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;

}

body {
	font-family: "Helvet",sans-serif;
	font-weight: 300;
	font-size: 25px;
}

.main-head	{
	background-image: url(img/example-assets/bcg.jpg);
	min-height: 100vh;
	background-size: cover;
	background-position: top center;
}

.mnu-line {
	height: 111px;
	background-color: rgb(53,53,53);
}

.yellow-line {
	width: 100%;
	height:35px;
	background-size: cover;
	background-color: rgb(240,215,0);
}

.yellow-line-2 {
	width: 100%;
	height:14px;
	background-size: cover;
	background-color: rgb(240,215,0);
	box-shadow: inset 0px 0px 2px 3px  rgba(0,0,0,0.2);
}

.logo {
	margin-left: 119px;
	position: relative;
}

.main-mnu{
	text-align: center;
	position: relative;

}

nav ul { 
	list-style-type: none;
	margin:0;
	padding:0;
}

li {
	display: inline-block;
}

.main-mnu ul li a {
	display: block;
	padding: 28px 23.5px;
	font-family: "Helvet",sans-serif;
	color: rgb(243,243,243);
	font-size: 29.17px;
	letter-spacing: 3px;
	font-weight: 300;
	text-decoration: none;
}

.main-mnu ul li a:hover {
	color:rgba(255,255,255,.4);
}

.header-slogan {
	height: 565px;
	padding: 13% 0;
	color: rgb(243,243,243);
	text-align: center;
}

#b-slogan {
	font-family: "Helvet",sans-serif;
	font-weight: 500;
	font-size: 60px;
	letter-spacing: 6px;
}

#e-slogan {
	font-family: "Helvet",sans-serif;
	font-weight: 300;
	font-size: 33px;
	letter-spacing: 4px;
	line-height: 24px;
}
form{
	padding-top: 69px;
	vertical-align: middle;
	display: flex;
	align-items: center;
	justify-content: center;
}

#search{
	width: 800px;
	height: 50px;
	background-color: rgba(56, 59, 58, 0.7);
	border: none;
	font-size: 20pt;
	color: rgb(243,243,243);
}
form button{
	position: absolute;
	margin-left: 380px;
	background-color:rgba(56, 59, 58, 0.09); 
	border:none;
	color: gray;
	z-index: 100;
	cursor: pointer;
}

form input#search:focus {
	outline: none;
	border-color:white;
}

::-webkit-input-placeholder {	
	color:rgba(255,255,255,.9);
	padding-left:15px;
}

:focus::-webkit-input-placeholder {
	color: transparent
}

.section-text {
	background-color:rgb(234,234,234);
	height: 150px;
}

.section .section-text h1 {
	font-family: "Helvet",sans-serif;
	color: rgb(53,53,53);
	font-size: 40px;
	font-weight: 600;
	letter-spacing: 3px;
	padding: 30px 0 0 70px;
}

.section .section-text p {
	font-family: "Helvet",sans-serif;
	color: rgb(53,53,53);
	font-size: 25px;
	line-height: 1px;
	padding-left: 60px;
	font-weight: 300;
	letter-spacing: 2px;
}
.section-service {
	height:519px ;
}
.item-vertical { 
	width:395px;
	padding:51px 0 73px;
	border-top: 2px solid rgba(53,53,53, 0.1);
	text-align: center;
}

.item-vertical a {
	text-decoration:none;
}
	
.item-vertical img:last-child {
	width: 348px;
	height: 305px;
	position: relative;
	bottom: 80px;
}

.section-service h4 {
	  position: relative;
	  margin-top: 20px;
    padding-bottom: 15px;
    color:rgb(57,62,59);
    letter-spacing: 2px;
    font-size: 25px;
}

.img-gallary {
	height:541px;
}
